html,
body {
    height: 33.34rem;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-family: "Crimson Text", "Helvetica", sans-serif;
    font-size: 4em;
}

.input-group {
    margin: 0 auto;
}

div#random-article {
    padding: 1rem 0rem 2rem;
    font-size: 0.9em;
    font-weight: bold;
}

.result {
    background-color: #eceeef;
    float: left;
    height: 280px;
    border: .1em solid white;
    padding: 0;
}

.result:hover {
    background-color: lightgray;
}

.card-title {
    font-family: "Helvetica", sans-serif;
    font-size: 1.3em;
    background-color: white;
}

.card-text {
    color: black;
    text-align: justify;
}

#result-number {
    color: black;
    text-align: left;
    left: 4px;
    position: absolute;
}